#header{
    display: flex;
    z-index: 1;

}


.logo{
   margin-right: auto;
}
a{
    text-decoration: none;
    color: #008037;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

a:hover{
    color: rgb(11, 49, 25);
}

.navigation{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 100;
    background-color: white;
}
.navigationPages{
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #008037;
}


body{
    background-color: rgb(255, 255, 255);
    /* text-align: center; */
    margin-top: 100px;
}

.grid-layout{
    display: grid;
    gap: 8rem;
    grid-auto-rows: 22rem;
    margin: 1rem;
    grid-template-columns:repeat(auto-fill, minmax(15rem, 1fr))
        
}
.caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.tituloIndex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombreReceta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #008037;
    font-size: 20px;
}
footer{
    display: flex;
    flex-direction: row-reverse;
}

form{
    margin: 2rem auto 2rem auto;
    max-width: 20rem;
}

.titulo{
    display: flex;
    justify-content: center;
    color: #304b3c;
}