#header{
    display: flex;
    z-index: 1;

}

/* .navigation{    
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    flex-direction: row;
} */
.logo{
   margin-right: auto;
}
a{
    text-decoration: none;
    color: #008037;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

a:hover{
    color: rgb(11, 49, 25);
}

.navigation{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 100;
    background-color: white;
}
.navigationPages{
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #008037;
}

/* .navigationPages:hover{
    color: rgb(56, 76, 167);
    background-color: transparent;
} */

body{
    background-color: rgb(255, 255, 255);
    /* text-align: center; */
    margin-top: 100px;
}

.grid-layout{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 300px 30px 300px 60px 300px 60px;
    justify-content: 30% 30% 30%;
    background-color: aqua;
    margin: 0;
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    
}

.caja{
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
}
.c1{
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.C2{
    grid-column: 1/2;
}

.c3{
    grid-column: 2/3;
}

.c4{
    grid-column: 3/4;
}

.nombreReceta{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer{
    display: flex;
    flex-direction: row-reverse;
}

form{
    margin: 2rem auto 2rem auto;
    max-width: 20rem;
}

.titulo{
    display: flex;
    justify-content: center;
    color: #304b3c;
}

.error{
    color: #dc3545;
}

.inputError{
    border: solid 1px #dc3545;
}