:root {
    --verdeBrillante: #3abe20;
    --verdeMasClaro: #9ae09a;
    --verdeClaro: #78BD78;
    --verdeIntermedio: #008037;
    --verdeOscuro: #0b3119;
    --marron: #C48462;
    --beige: #DBB78C;
}

* {
    font-family: Montserrat_regular;
}

#header {
    display: flex;
    z-index: 1;
}


.logo {
    margin-right: auto;
}

a {
    text-decoration: none;
    color: var(--verdeIntermedio);
}

a:hover {
    color: var(--verdeOscuro);
}

.navigation {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 100;
    background-color: white;
    /* background-color: var(--verdeMasClaro); */
    border-bottom: 3px solid var(--beige);
}

.navigationPages {
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--verdeIntermedio);
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
    max-height: 66px;
}


body {
    /* text-align: center; */
    margin-top: 100px;
}


.grid-layout {
    display: grid;
    gap: 8rem;
    grid-auto-rows: 22rem;
    margin: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr))
}

.caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloIndex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombreReceta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #008037;
    font-size: 20px;
}

footer {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2vh;
}

.contactoFooter {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    justify-items: 0px end;
    align-items: end;
}

form {
    margin: 2rem auto 2rem auto;
    max-width: 20rem;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 8vh;
}

.tituloFormulario {
    background-color: white;
    display: block;
    position: fixed;
    margin-top: 1vh;
    color: var(--verdeIntermedio);
    text-decoration: underline;
    box-shadow: 0, 0, 20px black;
}

.error {
    color: #dc3545;
}

.inputError {
    border: solid 1px #dc3545;
}

.icons {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1vw;
}

.icons a:hover {
    color: var(--verdeOscuro);
}

#barraBuscadora {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.paginaActual {
    color: var(--beige);
    font-family: Montserrat_bold;
    border-bottom: 2px solid var(--beige);
}

.paginaActual:hover {
    color: var(--marron);
    border-bottom-color: var(--marron);
}

#tableContainer {
    margin-left: 2vw;
    margin-top: 14vh;
}

th {
    text-align: left;
    padding-bottom: 25px;
    padding-right: 10px;
    font-size: large;
    font-family: Montserrat_bold;
    color: var(--verdeOscuro);
    min-width: 5vw;
}

table a {
    color: var(--marron);
}

table a:hover {
    color: #945c3f;
}


td {
    padding: 0 20px 10px 0;
}

tr {
    border: 1px solid var(--beige);
    border-radius: 5px;
}

#celdaAcortada {
    max-width: 20vw;
}

h3 {
    margin-top: 14vh;
    margin-left: 1vw;
}

#loading {
    position: relative;
    left: 50vw;
    top: 40vh;
}

h4 {
    border-bottom: 2px solid var(--beige);
    max-width: fit-content;
}

#map {
    margin-left: 1vw;
    max-width: fit-content;
}